.custom-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-header {
    background-color: #FDB813 !important;
    color: #ffffff !important;
    padding: 15px !important;
    border-radius: 5px 5px 0 0 !important;
    display: flex !important;
    align-items: center !important;
}

.profile-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-icon {
    margin-left: 0.5em;
}

.profile-title {
    font-weight: bold;
    border-color: #DADADA;
    font-weight: bold;
}

input:focus {
    box-shadow: 0 0 5px #f1c40f !important;
}

.profile-image-container img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.dropzone {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
}

.dropzone p {
    margin: 5px 0;
}

.dropzone input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


.btn-restaurantProfile {
    width: 100% !important;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 0;
    background-color: #FF9633 !important;
    border-color: #FF9633 !important;
    margin: 0;
    margin-top: 2em;
    padding: 0.8em !important;
    font-size: 1.1em !important;
}

.btn-changeDirection{
    margin: 0 !important;
    background-color: #f9cfa5 !important;
    border-color: #f9cfa5 !important;
    color: black !important;
}

.direction-group{
    background-color: #f9cfa5 !important;
    padding: 1em;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -ms-border-radius: 0.8em;
    -o-border-radius: 0.8em;
}

.btn-modal-direction-save, .btn-modal-direction-close{
    width: max-content;
}

.btn-modal-direction-save{
    background-color: #FF9633 !important;
    border-color: #FF9633 !important;
}


.close {
    background-color: transparent !important;
    cursor: pointer !important;
    font-size: 1.5rem !important;
    color: #000; 
    opacity: 0.5 !important;
    border: 0 !important;
}

.biCurrentLocation-icon{
    margin-top: 0.3em !important;
    margin-left: -1.2em !important;
}

.list-modal{
    margin-top: -1em;
}